body {
    margin: 0;
    padding: 0;
    overflow: none;

    font-family: 'Corbel', verdana, sans-serif;
}

#desc {
  position : absolute;
  top: 5px;
  left: 5px;
}
iframe#konva_portal {
  max-width: 605px;
  max-height: 605px;
  width: 605px;
  height: 605px;
  border: thick solid 'red';
}

.container.well {
  width: 620px;
  height: 800px;
  margin: 0 auto;
  padding: 1em;
}
#container {
  max-width: 635px;
  max-height: 665px;
  width: 635px;
  height: 640px;
  border: thin solid #ddd;
  overflow: hidden;
  background-color: #F7DFAE;
  margin: 1em;
}
#bs {
  height: 700px;
  width: 660px;
  margin: 0 auto;
  display: block;
}
#labelme {
    position: absolute;
    width: 150px;
    border: thin solid black;
    background: #DDD;
    font-size: 12pt;
    text-align:left;
    display: none;
    padding-left: 1em;
}
#labelme input {
    margin-right: 0.5em;
}

h2 {
  margin:1em;
  font-size: 20pt;
}
.meiosis-intro-overlay {
  position: relative;
  min-width: 100%;
}

.introjs-helperLayer {
  background-color: transparent !important;
  margin: 0 auto;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
}
.introjs-overlay {
  background-color: blue;
  opacity: 0 !important;
}
.intro-js-item {
  position: absolute;
  background-color: transparent;
}
.precursor {
  width: 145px;
  height: 130px;
  left: 10px;
  top: 80px;
}
.cell-box {
  width: 600px;
  height: 175px;
  left: 10px;
  top: 520px;
}
.drop-area {
  width: 400px;
  height: 450px;
  left: 230px;
  top: 80px;
}
.hd_example {
  display: inline;
  float: right;
  background-image: url(http://localhost:3333/img/hapdip.png);
  width: 180px;
  height: 65px;
  background-repeat: no-repeat;
}
