body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    min-width: 645px;
    min-height: 645px;
    width: 605px;
    height: 605px;
    font-family: 'Calibri', verdana, sans-serif;
}

#desc {
  position : absolute;
  top: 5px;
  left: 5px;
}
iframe#konva_portal {
  max-width: 605px;
  max-height: 605px;
  width: 605px;
  height: 605px;
  border: thick solid 'red';
}
#container {
  max-width: 600px;
  max-height: 645px;
  width: 645px;
  height: 620px;
  border: thin solid #ddd;
  overflow: hidden;
  background-color: #F7DFAE;
  margin: 1em;
}
#labelme {
     position: absolute;
    top: 10;
    left: 10;
    width: 9em;
    border: thin solid black;
    background: #DDD;
    opacity: 0.9;
    display: none;
}
h2 {
  margin:1em;
  font-size: 20pt;
}
